.Rproj.user
.Rhistory
.RData
.DS_Store
docs
inst/doc
settings.json
renv/
renv.lock
.Rprofile
trash*
.vscode
man/figures/
altdoc/freeze.rds
_quarto/
^_quarto$
cran-comments.md
inst/tinytest/tinytable_assets/