/*-- scss:defaults --*/
@import url(http://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400italic,700italic,400,700);
$font-family-sans-serif: 'Lato';

$body-color: #222 !default;
$link-color: #5e7ca1;
$code-color: #222;
$navbar-bg: #ececec;    
$navbar-fg: #222;    
$navbar-hl: #5e7ca1;
$sidebar-fg: #222;
$sidebar-hl: #5e7ca1;
$toc-color: #222;
$toc-hl: #5e7ca1;


.table {
  font-size: .8em;
}